section(id="benefit")
    .ben-container
        .ben-wrapped
            img(src='../images/services/truck.png')
            .ben-text
                h4 Freeship and return
                p Free Viet Nam Shipping on oders over $50
    .ben-container
        .ben-wrapped
            img(src='../images/services/coin.png')
            .ben-text
                h4 MONEY BACK GUARANTEE
                p 30 Days Money Back Guarantee
    .ben-container
        .ben-wrapped
            img(src='../images/services/support.png')
            .ben-text
                h4 0927-719-321
                p Support 24/7