footer 
    .infor
        p.kidi KIDI.
        p.add Office Address: 633 Huynh Van Nghe Street, Bien Hoa City
        p.email Email: diosvo@kidi.com
        .social-media
            ul
                li
                    a(href="https://www.facebook.com/diosvo")
                    i.fa.fa-facebook
                li
                    a(href="#")
                    i.fa.fa-instagram
                li
                    a(href="#")
                    i.fa.fa-pinterest
                li
                    a(href="#")
                    i.fa.fa-youtube
    .company
        p.company COMPANY
        a(href="#") Login  
        a(href="#") Register
        a(href="../html/shop.html") Our Collection
        a(href="../html/product-cart.html") Wishlists
        a(href="../html/product-cart.html") Checkouts
    .email-add
        p.daily DAILY OFFERS AND DISCOUNT
        p.daily-text Now avai the best offers everyday. Huge discount. Wide range!
        form
            input#fname(type='text' name='fname'  placeholder='Your Email')
            button(onclick='email()')
                img(src="../images/services/send.png")


