div(class="title") 
    span FREE SHIPPING WORLDWIDE OVER $1000
div(class="logo")
        a(href="index.html")
            img(src="../images/logo.png")
header
    nav(id="menu")
        ul
            li        
                a(href="index.html") Home
            li
                a(href="shop.html") Shop
            li
                a(href="on-sale.html") On Sale 
            li
                a(href="about.html") About Us
            li
                a(href="contact.html") Contact
    div(class="user")
        ul  
            li#click-login
                a(href="#") 
                    |Register/ Log in 
                    i.fa.fa-user-circle-o
            li
                a(href="../html/product-cart.html")
                    |
                    i.fa.fa-shopping-cart
                        div.cart-hover.linear
                            p Cart



