section#benefit {
    background-color: rgb(248, 249, 250);
    padding         : 1rem;
    width           : 86%;
    margin          : 0 auto;
    display         : flex;
    justify-content : center;

    .ben-container {
        margin : 0 auto;
        width  : 33.333%;
        display: flex;

        .ben-wrapped {
            margin-left: 2rem;
            display    : float;

            img {
                margin: 5px 0;
                float : left;
                width : 3rem;
                height: 3rem;
                clear : left;
            }

            div.ben-text {
                float : right;
                margin: 1rem;
                clear : right;

                h4 {
                    text-transform: uppercase;
                    font-family   : sans-serif;
                    letter-spacing: 1px;
                    font-size     : 12px;
                }

                p {
                    margin-top: 9px;
                    font-size : 12px;
                    color     : #cccccc;
                }
            }
        }
    }
}