@import 'navbar.scss';
@import 'benefit.scss';
@import 'footer.scss';
@import 'cpr.scss';
@import 'item-pro.scss';
@import 'login.scss';

section#on-sale {
    .glide {
        margin: .5rem 0;
        height: 11rem;

        ul {
            display: flex;

            li {
                list-style-type: none;
                width          : 360px;
                height         : 155px;
                margin         : 1rem;

                img {
                    border-radius: 1rem;
                    width        : 100%;
                    height       : 100%;
                }
            }
        }
    }
}

.item-pro {
    margin: 1rem 0;
    border: none;
    div.sale-off-text {
        margin        : 1rem 0;
        font-family   : 'Playfair Display';
        font-size     : 3rem;
        text-align    : center;
        letter-spacing: 1px;
    }

    ul.pro-container {
        grid-row-gap         : 0;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows   : repeat(1, 1fr);

        li .item-name p.money {
                color          : $lighten_dark;
                text-decoration: line-through;
            }

        span {
            display  : block;
            font-size: 13px;
            color    : red;
        }
    }
}