extends ../layout/layout-about.pug

block title
    title About Us

block main-content
    section(id="about" class="section-lo")
        div.ab-text About Us
        .vision
            .ct-right
                h1 Our Vision
                p We strive to be a global leader in fashion-knit and fashion outerwear by empowering innovation and design to provide total customer satisfaction.
                p We strive to be a caring and well-managed organization for our business partners ,customers and employees, and a responsible corporate citizen to our society.
            .ct-left
                img(src="../images/services/vision.png", alt="")
        .approach
            .ct-right
                img(src="../images/services/mission.png")
            .ct-left
                h1 Our Mission
                p We want to... be your pink pill — butterfly you — battle boredom — dress your emotions.
        .process
            .ct-right
                h1 Our Progress
                p We are building a modern brand. Kidi Workshop is one of the last independent global fashion houses in the world and we exist to produce more than clothes and accessories.
                p We use our collections, collaborations and catwalk shows as a platform to capture the imagination, promote innovative design and campaign for protecting life on Mother Earth, Gaia.

            .ct-left
                img(src="../images/services/progress.png")