extends ../layout/layout.pug

block title
    title KIDI Workshop

block main-content
    //- Overview 
    section(id="overview")
        div(class="rec")
        div(class="image")
            img(src="../images/26.jpg")
        div(class="text")
            h1 Kitu Phung 
                span ft KIDI.
            p(class="collection") Autumn Collection 2020
            p(class="button")
                a(href="shop.html") SHOP NOW

    section(id="product")
        div(id="title" class="flex-hor")
            h1.pro-title The Always List
            p This is what timeless look like
            p
                a(href='../html/shop.html') See what make the list >

        div(class="top")
            div.ct-right
                img(src="../images/shop/striped.jpg", alt="")
            div.content-right-top.flex-hor
                h2 1
                h2 Striped!
                p
                    a(href='../html/shop.html') Shop all stripeds >
            div.ct-left
                img(src="../images/shop/pant.jpg", alt="")
            div.content-left-top.flex-hor
                h2 2
                h2 A Skinny 
                h2 Khaki
                p
                    a(href='../html/shop.html') Shop all pants >

        div(class="top")
            div.ct-right
                img(src="../images/shop/bag.jpg", alt="")
            div.content-right-bot.flex-hor
                h2 3
                h2 A new
                h2 favorite
                h2 bag
                p
                    a(href='../html/shop.html') Shop all bags >
            div.ct-left
                img(src="../images/shop/jewelry.jpg", alt="")
            div.content-left-bot.flex-hor
                h2 4
                h2 Classic
                h2 Jewelry
                p
                    a(href='../html/shop.html') Shop all Jewelry >
        

                
    



        