extends ../layout/layout-shop.pug

block title
    title Shop

block main-content
    section(id="shop" class="section-lo")
        div.item-pro
            ul.items.pro-container
                //- Items
                li.item
                    img(src="../images/shop/1.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") Flower Blue Dress
                        p.money $26
                    button(onclick='cart()')
                        i.fa.fa-cart-plus
                li.item
                    img(src="../images/shop/2.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") Beige Shirt
                        p.money $30
                    button(onclick='cart()')
                        i.fa.fa-cart-plus

                li.item
                    img(src="../images/shop/3.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") White Skirt
                        p.money $49
                    button(onclick='cart()')
                        i.fa.fa-cart-plus

                li.item
                    img(src="../images/shop/4.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") Grey High Heeled-Shoes
                        p.money $29
                    button(onclick='cart()')
                        i.fa.fa-cart-plus

                li.item
                    img(src="../images/shop/5.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") Beige Skirt
                        p.money $35
                    button(onclick='cart()')
                        i.fa.fa-cart-plus

                li.item
                    img(src="../images/shop/6.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") Beige Dress
                        p.money $26
                    button(onclick='cart()')
                        i.fa.fa-cart-plus

                li.item
                    img(src="../images/shop/7.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") White-Red Dress
                        p.money $19
                    button(onclick='cart()')
                        i.fa.fa-cart-plus

                li.item
                    img(src="../images/shop/8.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") Gold High Heeled-Shoes
                        p.money $49
                    button(onclick='cart()')
                        i.fa.fa-cart-plus

                li.item
                    img(src="../images/shop/13.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") Flower Blue Dress
                        p.money $49
                    button(onclick='cart()')
                        i.fa.fa-cart-plus

                li.item
                    img(src="../images/shop/10.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") Orange Pattern Dress
                        p.money $79
                    button(onclick='cart()')
                        i.fa.fa-cart-plus

                li.item
                    img(src="../images/shop/11.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") Military tank-top
                        p.money $39
                    button(onclick='cart()')
                        i.fa.fa-cart-plus

                li.item
                    img(src="../images/shop/16.jpeg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") Black Pant
                        p.money $39
                    button(onclick='cart()')
                        i.fa.fa-cart-plus

                li.item
                    img(src="../images/shop/14.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") Lighten Grey Skirt
                        p.money $29
                    button(onclick='cart()')
                        i.fa.fa-cart-plus

                li.item
                    img(src="../images/shop/17.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") Skinny Bag
                        p.money $59
                    button(onclick='cart()')
                        i.fa.fa-cart-plus
                                        
                li.item
                    img(src="../images/shop/19.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") High Heeled-Shoes
                        p.money $39
                    button(onclick='cart()')
                        i.fa.fa-cart-plus
                                        
                li.item
                    img(src="../images/shop/18.jpg", alt="Item Prview")
                    .item-name
                        a(href="../html/product-view.html") Brown Bag
                        p.money $69
                    button(onclick='cart()')
                        i.fa.fa-cart-plus

            


    
        

